
<h1>This is a title</h1>
  And this is content
  {{user$ | async | json}}<br>
  {{permissions$ | async | json}}
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
  asd<br>
